#menu{
    /*display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;*/
    background-color: #ABC4AA;
    
}

#menu a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #32302d;
}
#menu a:hover{
    background-color: #F3DEBA;
    /*font-weight: bold;*/
}
