
       /*
        #item1{
            background-color: chartreuse;
            width: 200px;
        }
        #item2{
            background-color: rgb(0, 38, 255);
            width: 200px;
        }
        #item3{
            background-color: rgb(149, 0, 255);
            width: 200px;
        }
        
        .texto-blanco{
            color: white;
        }

        .div-general{
            
            padding: 5px 30px;
            margin: 10px;
            border: 1px solid brown;
            box-shadow: 5px 5px black;
            border-radius: 30px 10px;
        }
*/
       /* body{
            display: flex;
            flex-direction: column;
            margin: 0;
        }*/
        
        #menu{
            display:flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            list-style: none;
            margin: 0;
            background-color: rgb(84, 238, 169);
            
        }

        #menu a {
            text-decoration: none;
            display: block;
            padding: 1em;
            color: rgb(2, 6, 4);
        }
        #menu a:hover{
            background-color: rgb(255, 255, 255);
            /*font-weight: bold;*/
        }

        .container {
            padding: 1em 1em;
            display: flex;
            flex-flow: column;
            align-items: center;
        }
        

        .container:nth-child(odd){
            /*height: 300px;*/
            background-color: white;
        }

        .container:nth-child(even){
            /*height: 300px;*/
            background-color: rgb(213, 238, 246);
        }

        .foto1{
            padding: 10px;
            margin: 10px;
            border: 2px solid black;
            float: right;
            width: 200px;
        }

        .foto2{
            padding: 10px;
            margin: 10px;
            border: 2px solid black;
            float: right;
            width: 150px;
        }

        .titulo {
            color: #642a73;
            font-size: 30px;
            text-align: center;
            margin-bottom: 60px;
        }

        .columna {
            width: 33%;
            float: left;
        }

        