*{
    /*padding: 0;
    margin: 0;*/
    font-family: sans-serif;
}

body{
    background: linear-gradient(90deg, #61f7ff, #ffffff);
}

.calculadora{
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(234, 255, 224);
    box-shadow: 0 0 10px rgb(106, 171, 206);
}
.calculadora #display{
    color: black;
    margin: 0 10px;
    height: 50px;
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    
    }
/*.calculadora #igual{
    height: 130px;
    }*/





.cuadrado{
    height: 60px;
    width: 60px;
    margin: 5px;
    cursor: pointer;

    transition: all 0.2s ease;
}

.cuadrado:hover{
    transform: scale(1.1);
}


/* Estilos CSS para tachar el texto de las tareas completadas*/
 .completed {
  text-decoration: line-through;
  color: #ff0000;
}

hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

