#menu{
    /*display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;*/
    background-color: #08415C ;
    
}

#menu a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #FFFFFF;
}
#menu a:hover{
    background-color: #EDF3F6;
    color: #000000;
    /*font-weight: bold;*/

}

.foto1{
    /*padding: 10px;
    margin: 10px;
    border: 2px solid black;
    */
    
    width: 400px;
}

.foto2 {
    width: 100px;
}



body {
    background-color: #f6f6f6;
    
}

.bg-coloryo {

    background-color: #08415C ;


}

#btn_arriba {
    
    background-color: #08415C ;
    color: #FFFFFF;

}

body {
    background-size: 1550px;
    background-image: url("11852424_4853433.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    

}
